<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SOAP" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="SOAP1" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="VirtualSOAP" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://devsrv:8029/Services/TelegramBotHelperService" binding="basicHttpBinding" bindingConfiguration="SOAP" contract="ServiceHelper.TelegramBotHelperService" name="SOAP" />
      <endpoint address="http://cashin.terminal.server:4443/VirtualCashIn" binding="basicHttpBinding" bindingConfiguration="VirtualSOAP" contract="VirtualCashInServiceReference.CashInVirtualTerminalServer" name="VirtualSOAP" />
      <endpoint address="http://devsrv:8029/Services/InternetBankingMobileProdService" binding="basicHttpBinding" bindingConfiguration="SOAP1" contract="InternetBankingMobileServiceReference.InternetBankingMobileService" name="SOAP1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>