<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SOAP" />
                <binding name="SOAP1" />
                <binding name="VirtualSOAP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://devsrv:8029/Services/InternetBankingMobileProdService"
                binding="basicHttpBinding" bindingConfiguration="SOAP" contract="InternetBankingMobileServiceReference.InternetBankingMobileService"
                name="SOAP" />
            <endpoint address="http://devsrv:8029/Services/TelegramBotHelperService"
                binding="basicHttpBinding" bindingConfiguration="SOAP1" contract="ServiceHelper.TelegramBotHelperService"
                name="SOAP1" />
            <endpoint address="http://cashin.terminal.server:4443/VirtualCashIn"
                binding="basicHttpBinding" bindingConfiguration="VirtualSOAP"
                contract="VirtualCashInServiceReference.CashInVirtualTerminalServer"
                name="VirtualSOAP" />
        </client>
    </system.serviceModel>
</configuration>