<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BobTelegramBotServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.121.2.0" newVersion="4.112.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FacebookServiceBinding" closeTimeout="00:00:30"
                 openTimeout="00:00:30" receiveTimeout="00:01:00"
                 sendTimeout="00:01:00" maxBufferPoolSize="1048576"
                 maxReceivedMessageSize="1048576" maxBufferSize="1048576"
                 transferMode="Buffered" messageEncoding="Text">
          <readerQuotas maxDepth="500" maxStringContentLength="1048576" maxArrayLength="16384" maxBytesPerRead="5000000" maxNameTableCharCount="500000000"/>
          <security mode="None"/>
        </binding>
        <binding name="SOAP" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="SOAP1" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="VirtualSOAP" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://devsrv:8029/Services/TelegramBotHelperService" binding="basicHttpBinding" bindingConfiguration="SOAP" contract="ServiceHelper.TelegramBotHelperService" name="SOAP" />
      <endpoint address="http://cashin.terminal.server:4443/VirtualCashIn" binding="basicHttpBinding" bindingConfiguration="VirtualSOAP" contract="VirtualCashInServiceReference.CashInVirtualTerminalServer" name="VirtualSOAP" />
      <endpoint address="http://devsrv:8029/Services/InternetBankingMobileProdService" binding="basicHttpBinding" bindingConfiguration="SOAP1" contract="InternetBankingMobileServiceReference.InternetBankingMobileService" name="SOAP1" />
    </client>
    <services>
      <service name="FacebookSoapService.FacebookService" behaviorConfiguration="FacebookServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.34:1010/FacebookService"/>
          </baseAddresses>
        </host>
        <endpoint address="" name="SOAP" binding="basicHttpBinding" bindingConfiguration="FacebookServiceBinding"
                  contract="FacebookSoapService.IFacebookService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FacebookServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceThrottling maxConcurrentCalls="5000" maxConcurrentSessions="5000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000"/>
    </diagnostics>
  </system.serviceModel>
  <userSettings>
    <BobTelegramBotServer.Properties.Settings>
      <setting name="OracleHost" serializeAs="String">
        <value>DW</value>
      </setting>
      <setting name="OracleUsername" serializeAs="String">
        <value>bob_smsc</value>
      </setting>
      <setting name="OraclePassword" serializeAs="String">
        <value>bob_smsc</value>
      </setting>
      <setting name="OracleMinPoolSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OracleMaxPoolSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="OracleConnectionLifetime" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="OracleConnectionTimeout" serializeAs="String">
        <value>300</value>
      </setting>
    </BobTelegramBotServer.Properties.Settings>
  </userSettings>
</configuration>