<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database.Properties.Settings.cs" connectionString="DATA SOURCE=DWNEW;PASSWORD=bob_smsc;PERSIST SECURITY INFO=True;USER ID=BOB_SMSC"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>